In [693]:
# import dependencies
import pandas as pd
import numpy as np
import datetime
from scipy.stats import skew
from scipy.fftpack import fft
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import normalize
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans 
from sklearn.cluster import DBSCAN
from sklearn import metrics
import statistics
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_validate,train_test_split,StratifiedKFold,KFold
import pickle

In [742]:
# Extract data from CSVs
cgmData = pd.read_csv('CGMData.csv', sep=',', low_memory = False)
cgmData['dateTime'] = pd.to_datetime(cgmData['Date'] + ' ' + cgmData['Time'])
cgmData = cgmData.sort_values(by='dateTime',ascending=True)

insulinData = pd.read_csv('InsulinData.csv', sep=',', low_memory = False)
insulinData['dateTime'] = pd.to_datetime(insulinData['Date'] + ' ' + insulinData['Time'])
insulinData = insulinData.sort_values(by='dateTime',ascending=True)

display(cgmData)
display(insulinData)

,Index,Date,Time,New Device Time,BG Reading (mg/dL),Linked BG Meter ID,Basal Rate (U/h),Temp Basal Amount,Temp Basal Type,Temp Basal Duration (h:mm:ss),...,Insulin Action Curve Time,Sensor Calibration Rejected Reason,Preset Bolus,Bolus Source,Network Device Associated Reason,Network Device Disassociated Reason,Network Device Disconnected Reason,Sensor Exception,Preset Temp Basal Name,dateTime
55342,52859,7/25/2017,12:08:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-25 12:08:54
55341,52858,7/25/2017,12:13:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-25 12:13:54
55340,52857,7/25/2017,12:18:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-25 12:18:54
55339,52856,7/25/2017,12:23:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-25 12:23:54
55338,52855,7/25/2017,12:28:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-25 12:28:54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,20359,2/12/2018,13:02:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SENSOR_ERROR,NaN,2018-02-12 13:02:27
3,20358,2/12/2018,13:07:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SENSOR_ERROR,NaN,2018-02-12 13:07:27
2,20357,2/12/2018,13:12:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SENSOR_ERROR,NaN,2018-02-12 13:12:27
1,20356,2/12/2018,13:17:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:17:27
0,20355,2/12/2018,13:22:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:22:27

,Index,Date,Time,New Device Time,BG Reading (mg/dL),Linked BG Meter ID,Basal Rate (U/h),Temp Basal Amount,Temp Basal Type,Temp Basal Duration (h:mm:ss),...,Insulin Action Curve Time,Sensor Calibration Rejected Reason,Preset Bolus,Bolus Source,Network Device Associated Reason,Network Device Disassociated Reason,Network Device Disconnected Reason,Sensor Exception,Preset Temp Basal Name,dateTime
41434,22139,7/24/2017,18:59:42,7/24/2017 18:59,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 18:59:42
41431,22136,7/24/2017,18:59:44,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 18:59:44
41433,22138,7/24/2017,18:59:44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 18:59:44
41432,22137,7/24/2017,18:59:44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 18:59:44
41430,22135,7/24/2017,19:00:01,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 19:00:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,4,2/12/2018,13:12:33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,CLOSED_LOOP_MICRO_BOLUS,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:12:33
3,3,2/12/2018,13:18:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:18:48
2,2,2/12/2018,13:18:48,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:18:48
1,1,2/12/2018,13:20:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:20:48
0,0,2/12/2018,13:20:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,TEMPORARY,NaN,NaN,NaN,NaN,2018-02-12 13:20:53

In [715]:
# Extract data for meal time
# Compare the dateTime to identify how long have one eaten the previous meal
insulinData['New Index'] = range(0, 0+len(insulinData))
display(insulinData)
mealTimes = insulinData.loc[insulinData['BWZ Carb Input (grams)'] > 0][['New Index', 'Date', 'Time', 'BWZ Carb Input (grams)', 'dateTime']]
mealTimes['diff'] = mealTimes['dateTime'].diff(periods=1)
mealTimes['shiftUp'] = mealTimes['diff'].shift(-1)
# mealTimes.dtypes

,Index,Date,Time,New Device Time,BG Reading (mg/dL),Linked BG Meter ID,Basal Rate (U/h),Temp Basal Amount,Temp Basal Type,Temp Basal Duration (h:mm:ss),...,Sensor Calibration Rejected Reason,Preset Bolus,Bolus Source,Network Device Associated Reason,Network Device Disassociated Reason,Network Device Disconnected Reason,Sensor Exception,Preset Temp Basal Name,dateTime,New Index
41434,22139,7/24/2017,18:59:42,7/24/2017 18:59,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 18:59:42,0
41431,22136,7/24/2017,18:59:44,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 18:59:44,1
41433,22138,7/24/2017,18:59:44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 18:59:44,2
41432,22137,7/24/2017,18:59:44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 18:59:44,3
41430,22135,7/24/2017,19:00:01,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-24 19:00:01,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,4,2/12/2018,13:12:33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,CLOSED_LOOP_MICRO_BOLUS,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:12:33,41430
3,3,2/12/2018,13:18:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:18:48,41431
2,2,2/12/2018,13:18:48,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:18:48,41432
1,1,2/12/2018,13:20:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-02-12 13:20:48,41433
0,0,2/12/2018,13:20:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,TEMPORARY,NaN,NaN,NaN,NaN,2018-02-12 13:20:53,41434

New Index                           int64
Date                               object
Time                               object
BWZ Carb Input (grams)            float64
dateTime                   datetime64[ns]
diff                      timedelta64[ns]
shiftUp                   timedelta64[ns]
dtype: object

In [696]:
# Using the previous meal time, filter out any meals eaten before the threshold (2 hours)
mealTimes = mealTimes.loc[(mealTimes['shiftUp'] > datetime.timedelta (minutes = 120)) | (pd.isnull(mealTimes['shiftUp']))]
mealTimes

,New Index,Date,Time,BWZ Carb Input (grams),dateTime,diff,shiftUp
41393,42,7/25/2017,10:39:46,58.0,2017-07-25 10:39:46,00:18:27,07:51:54
41347,87,7/25/2017,18:31:40,115.0,2017-07-25 18:31:40,07:51:54,14:55:36
41261,174,7/26/2017,12:48:41,63.0,2017-07-26 12:48:41,01:23:49,06:26:25
41214,220,7/26/2017,19:15:06,60.0,2017-07-26 19:15:06,06:26:25,10:30:45
41172,262,7/27/2017,5:45:51,24.0,2017-07-27 05:45:51,10:30:45,03:33:50
...,...,...,...,...,...,...,...
261,41173,2/11/2018,12:43:23,27.0,2018-02-11 12:43:23,02:41:04,02:51:03
207,41228,2/11/2018,18:14:37,8.0,2018-02-11 18:14:37,01:47:33,02:18:41
188,41246,2/11/2018,20:33:18,71.0,2018-02-11 20:33:18,02:18:41,05:57:37
129,41305,2/12/2018,2:30:55,15.0,2018-02-12 02:30:55,05:57:37,06:44:50
48,41386,2/12/2018,9:15:45,34.0,2018-02-12 09:15:45,06:44:50,NaT

In [743]:
# Create a new dataframe. Using the meal time data from insulindata file and filter out the relevant time. Add those rows into the new dataframe
cgmdata_withMeal = pd.DataFrame()
cgmdata_withMeal['New Index'] = ""
for i in range(len(mealTimes)) : 
    preMealTime = mealTimes['dateTime'].iloc[i] - datetime.timedelta(minutes = 30)
    endMealTime = mealTimes['dateTime'].iloc[i] + datetime.timedelta(minutes = 120)
    filteredcgmdata = cgmData.loc[(cgmData['dateTime'] >= preMealTime) & (cgmData['dateTime'] < endMealTime )]
    arr = []
    index_label = 0
    index_label = mealTimes['New Index'].iloc[i]
    for j in range(len(filteredcgmdata)) :
        arr.append(filteredcgmdata['Sensor Glucose (mg/dL)'].iloc[j])
    cgmdata_withMeal = cgmdata_withMeal.append(pd.Series(arr), ignore_index=True)
    cgmdata_withMeal.iloc[i, cgmdata_withMeal.columns.get_loc('New Index')] = index_label
cgmdata_withMeal['New Index'] = cgmdata_withMeal['New Index'].astype(int)
cgmdata_withMeal

,New Index,0,1,2,3,4,5,6,7,8,...,20,21,22,23,24,25,26,27,28,29
0,33,314.0,310.0,309.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,42,314.0,310.0,309.0,311.0,311.0,311.0,312.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,87,58.0,59.0,63.0,71.0,81.0,102.0,131.0,140.0,147.0,...,168.0,164.0,169.0,178.0,184.0,190.0,195.0,198.0,203.0,196.0
3,160,198.0,197.0,197.0,197.0,199.0,200.0,199.0,200.0,203.0,...,318.0,321.0,327.0,326.0,328.0,326.0,324.0,327.0,339.0,350.0
4,169,328.0,326.0,324.0,327.0,339.0,350.0,362.0,368.0,366.0,...,259.0,255.0,248.0,241.0,231.0,220.0,222.0,222.0,222.0,223.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,41212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
743,41228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,142.0,145.0,147.0,137.0,128.0,123.0,106.0,107.0
744,41246,106.0,107.0,100.0,104.0,123.0,132.0,129.0,127.0,120.0,...,169.0,176.0,173.0,166.0,162.0,189.0,201.0,200.0,194.0,177.0
745,41305,89.0,80.0,69.0,60.0,51.0,52.0,41.0,41.0,46.0,...,113.0,105.0,98.0,87.0,80.0,84.0,86.0,92.0,93.0,NaN
746,41386,150.0,149.0,150.0,151.0,154.0,153.0,158.0,158.0,160.0,...,186.0,193.0,194.0,185.0,184.0,178.0,180.0,174.0,162.0,150.0

In [744]:
cgmdata_withMeal_index = pd.DataFrame()
cgmdata_withMeal_index['New Index'] = cgmdata_withMeal['New Index']
display(cgmdata_withMeal_index)
cgmdata_withMeal = cgmdata_withMeal.drop(columns='New Index')
display(cgmdata_withMeal)

     New Index
0           33
1           42
2           87
3          160
4          169
..         ...
742      41212
743      41228
744      41246
745      41305
746      41386

[747 rows x 1 columns]

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,314.0,310.0,309.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,314.0,310.0,309.0,311.0,311.0,311.0,312.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,58.0,59.0,63.0,71.0,81.0,102.0,131.0,140.0,147.0,153.0,...,168.0,164.0,169.0,178.0,184.0,190.0,195.0,198.0,203.0,196.0
3,198.0,197.0,197.0,197.0,199.0,200.0,199.0,200.0,203.0,211.0,...,318.0,321.0,327.0,326.0,328.0,326.0,324.0,327.0,339.0,350.0
4,328.0,326.0,324.0,327.0,339.0,350.0,362.0,368.0,366.0,357.0,...,259.0,255.0,248.0,241.0,231.0,220.0,222.0,222.0,222.0,223.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,142.0,145.0,147.0,137.0,128.0,123.0,106.0,107.0
744,106.0,107.0,100.0,104.0,123.0,132.0,129.0,127.0,120.0,132.0,...,169.0,176.0,173.0,166.0,162.0,189.0,201.0,200.0,194.0,177.0
745,89.0,80.0,69.0,60.0,51.0,52.0,41.0,41.0,46.0,46.0,...,113.0,105.0,98.0,87.0,80.0,84.0,86.0,92.0,93.0,NaN
746,150.0,149.0,150.0,151.0,154.0,153.0,158.0,158.0,160.0,159.0,...,186.0,193.0,194.0,185.0,184.0,178.0,180.0,174.0,162.0,150.0

In [745]:
# Apply threshold for missing data and interpolation
no_of_rows= cgmdata_withMeal.shape[0]
no_of_columns = cgmdata_withMeal.shape[1]
cgmdata_withMeal.dropna(axis=0, how='all', thresh=no_of_columns/4, subset=None, inplace=True)
cgmdata_withMeal.dropna(axis=1, how='all', thresh=no_of_rows/4, subset=None, inplace=True)
cgmdata_withMeal.interpolate(axis=0, method ='linear', limit_direction ='forward', inplace=True)
cgmdata_withMeal.bfill(axis=1,inplace=True)
cgmdata_withMeal
cgmdata_withMeal_without_index = cgmdata_withMeal
display(cgmdata_withMeal_without_index)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
2,58.0,59.0,63.0,71.0,81.0,102.0,131.0,140.0,147.0,153.0,...,168.0,164.0,169.0,178.0,184.0,190.0,195.0,198.0,203.0,196.0
3,198.0,197.0,197.0,197.0,199.0,200.0,199.0,200.0,203.0,211.0,...,318.0,321.0,327.0,326.0,328.0,326.0,324.0,327.0,339.0,350.0
4,328.0,326.0,324.0,327.0,339.0,350.0,362.0,368.0,366.0,357.0,...,259.0,255.0,248.0,241.0,231.0,220.0,222.0,222.0,222.0,223.0
5,304.0,292.0,281.0,268.0,259.0,255.0,248.0,241.0,231.0,220.0,...,270.0,277.0,274.0,269.0,267.0,267.0,274.0,284.0,283.0,278.0
6,40.0,40.0,40.0,40.0,60.0,71.0,83.0,87.0,100.0,112.0,...,67.0,71.0,75.0,74.0,72.0,70.0,67.0,74.0,77.0,81.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,209.0,219.0,221.0,221.0,216.0,217.0,215.0,211.0,201.0,200.0,...,180.0,184.0,180.0,190.0,196.0,203.0,206.0,212.0,215.0,208.0
743,157.5,163.0,160.5,162.5,169.5,174.5,172.0,169.0,160.5,166.0,...,174.5,180.0,142.0,145.0,147.0,137.0,128.0,123.0,106.0,107.0
744,106.0,107.0,100.0,104.0,123.0,132.0,129.0,127.0,120.0,132.0,...,169.0,176.0,173.0,166.0,162.0,189.0,201.0,200.0,194.0,177.0
745,89.0,80.0,69.0,60.0,51.0,52.0,41.0,41.0,46.0,46.0,...,113.0,105.0,98.0,87.0,80.0,84.0,86.0,92.0,93.0,163.5
746,150.0,149.0,150.0,151.0,154.0,153.0,158.0,158.0,160.0,159.0,...,186.0,193.0,194.0,185.0,184.0,178.0,180.0,174.0,162.0,150.0

In [746]:
cgmdata_withMeal = pd.merge(cgmdata_withMeal, cgmdata_withMeal_index, left_index=True, right_index=True)
display(cgmdata_withMeal)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,New Index
2,58.0,59.0,63.0,71.0,81.0,102.0,131.0,140.0,147.0,153.0,...,164.0,169.0,178.0,184.0,190.0,195.0,198.0,203.0,196.0,87
3,198.0,197.0,197.0,197.0,199.0,200.0,199.0,200.0,203.0,211.0,...,321.0,327.0,326.0,328.0,326.0,324.0,327.0,339.0,350.0,160
4,328.0,326.0,324.0,327.0,339.0,350.0,362.0,368.0,366.0,357.0,...,255.0,248.0,241.0,231.0,220.0,222.0,222.0,222.0,223.0,169
5,304.0,292.0,281.0,268.0,259.0,255.0,248.0,241.0,231.0,220.0,...,277.0,274.0,269.0,267.0,267.0,274.0,284.0,283.0,278.0,174
6,40.0,40.0,40.0,40.0,60.0,71.0,83.0,87.0,100.0,112.0,...,71.0,75.0,74.0,72.0,70.0,67.0,74.0,77.0,81.0,220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,209.0,219.0,221.0,221.0,216.0,217.0,215.0,211.0,201.0,200.0,...,184.0,180.0,190.0,196.0,203.0,206.0,212.0,215.0,208.0,41173
743,157.5,163.0,160.5,162.5,169.5,174.5,172.0,169.0,160.5,166.0,...,180.0,142.0,145.0,147.0,137.0,128.0,123.0,106.0,107.0,41228
744,106.0,107.0,100.0,104.0,123.0,132.0,129.0,127.0,120.0,132.0,...,176.0,173.0,166.0,162.0,189.0,201.0,200.0,194.0,177.0,41246
745,89.0,80.0,69.0,60.0,51.0,52.0,41.0,41.0,46.0,46.0,...,105.0,98.0,87.0,80.0,84.0,86.0,92.0,93.0,163.5,41305
746,150.0,149.0,150.0,151.0,154.0,153.0,158.0,158.0,160.0,159.0,...,193.0,194.0,185.0,184.0,178.0,180.0,174.0,162.0,150.0,41386

In [747]:
# Extract the meal amounts from insulinData
mealAmount = mealTimes[['BWZ Carb Input (grams)', 'New Index']]
mealAmount = mealAmount.rename(columns={'BWZ Carb Input (grams)': 'Meal Amount'})
display(mealAmount)
max_mealAmount = mealAmount['Meal Amount'].max()
min_mealAmount = mealAmount['Meal Amount'].min()
print('Max Meal Amount: ', max_mealAmount)
print('Min Meal Amount: ', min_mealAmount)

       Meal Amount  New Index
41401         91.0         33
41393         58.0         42
41347        115.0         87
41274         72.0        160
41265         20.0        169
...            ...        ...
222           40.0      41212
207            8.0      41228
188           71.0      41246
129           15.0      41305
48            34.0      41386

[747 rows x 2 columns]

Max Meal Amount:  129.0
Min Meal Amount:  3.0

In [748]:
# Extracting Ground Truth from meal amounts
Meal_Amount_bin_label = pd.DataFrame()

# def bin_label(x):
#     if (x==0):
#         return np.floor(x) + 1;
#     elif (x%20 == 0):
#         return np.floor(x/20)
#     else:
#         return np.floor(x/20) + 1

def bin_label(x):
    if (x <= 23):
        return np.floor(1);
    elif (x <= 43):
        return np.floor(2);
    elif (x <= 63):
        return np.floor(3);
    elif (x <= 83):
        return np.floor(4);
    elif (x <= 103):
        return np.floor(5);
    else:
        return np.floor(6);

Meal_Amount_bin_label['Bin Label'] = mealAmount.apply(lambda row: bin_label(row['Meal Amount']).astype(np.int64), axis=1)
Meal_Amount_bin_label['New Index'] = mealAmount['New Index']
display(Meal_Amount_bin_label)
display(Meal_Amount_bin_label.dtypes)
Meal_Amount_bin_label = np.float64(Meal_Amount_bin_label['Bin Label'].max())
display('max bin label', Meal_Amount_bin_label)

       Bin Label  New Index
41401          5         33
41393          3         42
41347          6         87
41274          4        160
41265          1        169
...          ...        ...
222            2      41212
207            1      41228
188            4      41246
129            1      41305
48             2      41386

[747 rows x 2 columns]

Bin Label    int64
New Index    int64
dtype: object

'max bin label'

6.0

In [749]:
# Join Meal Data and Meal Amount
Meal_Data_and_Amount = cgmdata_withMeal.merge(Meal_Amount_bin_label, how='inner', on=['New Index'])
display(Meal_Data_and_Amount)

TypeError: Can only merge Series or DataFrame objects, a <class 'numpy.float64'> was passed

In [611]:
# Ground true array
ground_true_arr = Meal_Data_and_Amount["Bin Label"].tolist()
display(ground_true_arr)

[1,
 6,
 4,
 3,
 2,
 3,
 3,
 4,
 1,
 4,
 3,
 3,
 6,
 2,
 4,
 1,
 7,
 1,
 1,
 2,
 3,
 5,
 1,
 2,
 2,
 4,
 4,
 5,
 2,
 2,
 3,
 1,
 1,
 2,
 1,
 4,
 2,
 3,
 2,
 1,
 4,
 3,
 2,
 1,
 2,
 1,
 1,
 4,
 5,
 3,
 1,
 4,
 2,
 2,
 1,
 4,
 2,
 1,
 1,
 1,
 2,
 2,
 4,
 1,
 1,
 3,
 3,
 2,
 1,
 3,
 3,
 2,
 3,
 4,
 1,
 2,
 1,
 2,
 1,
 1,
 3,
 2,
 1,
 3,
 1,
 2,
 4,
 1,
 2,
 1,
 2,
 1,
 2,
 7,
 1,
 2,
 2,
 1,
 3,
 5,
 2,
 1,
 2,
 3,
 1,
 3,
 1,
 3,
 1,
 5,
 3,
 1,
 6,
 1,
 1,
 3,
 2,
 1,
 1,
 3,
 1,
 2,
 2,
 5,
 5,
 3,
 2,
 5,
 1,
 1,
 1,
 5,
 2,
 4,
 6,
 6,
 4,
 2,
 2,
 1,
 2,
 3,
 2,
 1,
 3,
 5,
 4,
 1,
 2,
 2,
 2,
 2,
 3,
 1,
 4,
 1,
 4,
 2,
 3,
 2,
 1,
 4,
 4,
 2,
 2,
 1,
 5,
 3,
 1,
 5,
 1,
 3,
 2,
 5,
 3,
 1,
 3,
 3,
 1,
 3,
 1,
 1,
 1,
 3,
 1,
 3,
 1,
 3,
 3,
 3,
 2,
 1,
 3,
 2,
 5,
 4,
 3,
 2,
 1,
 5,
 3,
 1,
 1,
 1,
 3,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 3,
 1,
 3,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 3,
 4,
 4,
 3,
 2,
 1,
 3,
 1,
 5,
 1,
 1,
 1,
 3,
 2,
 1,
 1,
 4,
 3,
 4,
 3,
 1,
 4,
 1,
 2,
 2,
 1,
 1,
 1,
 3,
 4,
 1,
 2,
 4,
 3,
 3,
 1,
 4,
 2,
 1,
 2,
 2,
 5,
 1,
 1,
 1,
 1,
 4,
 1,
 2,
 2,
 4,
 5,
 1,
 1,
 4,
 1,
 3,
 4,
 3,
 5,
 3,
 2,
 1,
 1,
 1,
 2,
 1,
 4,
 2,
 1,
 3,
 1,
 2,
 2,
 1,
 2,
 1,
 1,
 2,
 3,
 1,
 5,
 3,
 1,
 2,
 3,
 1,
 3,
 2,
 3,
 1,
 2,
 3,
 4,
 1,
 1,
 3,
 1,
 2,
 2,
 1,
 1,
 1,
 4,
 3,
 1,
 2,
 5,
 1,
 1,
 3,
 3,
 3,
 1,
 2,
 5,
 1,
 5,
 3,
 3,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 3,
 2,
 1,
 1,
 3,
 3,
 2,
 1,
 3,
 1,
 1,
 1,
 3,
 4,
 1,
 1,
 1,
 2,
 2,
 4,
 2,
 4,
 1,
 1,
 4,
 1,
 2,
 2,
 3,
 6,
 1,
 1,
 1,
 1,
 4,
 1,
 4,
 1,
 4,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 3,
 2,
 1,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 5,
 2,
 1,
 1,
 2,
 4,
 4,
 3,
 2,
 4,
 2,
 2,
 3,
 1,
 2,
 1,
 2,
 1,
 3,
 2,
 1,
 1,
 3,
 2,
 3,
 1,
 1,
 3,
 3,
 3,
 1,
 1,
 4,
 3,
 2,
 2,
 3,
 1,
 1,
 3,
 2,
 1,
 2,
 1,
 2,
 1,
 1,
 4,
 1,
 1,
 3,
 1,
 1,
 1,
 4,
 1,
 3,
 3,
 1,
 5,
 1,
 2,
 1,
 2,
 1,
 1,
 5,
 1,
 1,
 2,
 3,
 1,
 2,
 1,
 4,
 1,
 3,
 1,
 1,
 1,
 3,
 4,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 2,
 1,
 3,
 1,
 1,
 2,
 1,
 1,
 1,
 3,
 1,
 1,
 5,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 3,
 2,
 1,
 1,
 2,
 1,
 2,
 2,
 4,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 2,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 3,
 3,
 1,
 1,
 1,
 3,
 1,
 1,
 2,
 3,
 2,
 1,
 1,
 1,
 3,
 2,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 2,
 4,
 1,
 1,
 2,
 3,
 1,
 1,
 1,
 3,
 2,
 3,
 3,
 1,
 3,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 2,
 4,
 2,
 2,
 2,
 3,
 1,
 1,
 2,
 1,
 2,
 5,
 1,
 2,
 2,
 1,
 3,
 1,
 3,
 1,
 1,
 1,
 1,
 3,
 2,
 1,
 2,
 1,
 1,
 2,
 1,
 2,
 4,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 5,
 2,
 1,
 1,
 1,
 1,
 5,
 3,
 2,
 1,
 1,
 2,
 3,
 1,
 3,
 1,
 3,
 4,
 2,
 3,
 2,
 3,
 1,
 1,
 3,
 2,
 2,
 1,
 1,
 3,
 1,
 1,
 5,
 2,
 1,
 1,
 2,
 4,
 1,
 1,
 2]

In [612]:
# Perform Feature Extractions on meal data
Feature_Matrix = pd.DataFrame()

# 1st Feature - Fast Fourier Transform
FFT = pd.DataFrame()
def calculate_fft_vals(series):
    FFT_abs = abs(fft(series))
    FFT_abs.sort()
    return np.flip(FFT_abs)[0:8]

FFT['FFT_vals'] = cgmdata_withMeal_without_index.apply(lambda series: calculate_fft_vals(series), axis=1)
FFT_Vals= pd.DataFrame(FFT.FFT_vals.tolist(), columns=['FFT1', 'FFT2', 'FFT3', 'FFT4', 'FFT5', 'FFT6', 'FFT7','FFT8'],index=FFT.FFT_vals.index)
Feature_Matrix = pd.concat([Feature_Matrix,FFT_Vals],axis=1)
display(Feature_Matrix)

,FFT1,FFT2,FFT3,FFT4,FFT5,FFT6,FFT7,FFT8
1,5922.0,1527.082553,1527.082553,412.905077,412.905077,378.751187,378.751187,363.301638
2,4483.5,583.723220,583.723220,473.370789,473.370789,369.447679,369.447679,168.285819
3,7677.0,475.903609,475.903609,132.355707,132.355707,90.231491,90.231491,43.134985
4,2445.0,436.384942,436.384942,322.178882,322.178882,112.491733,112.491733,51.884487
5,5919.0,291.275268,291.275268,122.914246,122.914246,51.526117,51.526117,32.078030
...,...,...,...,...,...,...,...,...
720,6081.0,207.934591,207.934591,111.347548,111.347548,109.448473,109.448473,40.951190
721,4642.0,470.640332,470.640332,259.940832,259.940832,215.545678,215.545678,196.348648
722,6059.0,1345.632057,1345.632057,394.763112,394.763112,322.894884,322.894884,217.621231
723,2440.5,474.360806,474.360806,264.537814,264.537814,125.291968,125.291968,31.925695
724,5015.0,240.345182,240.345182,126.233819,126.233819,31.506578,31.506578,31.270449

In [613]:
display(cgmdata_withMeal_without_index)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
1,314.0,310.0,298.0,293.0,279.0,278.0,281.0,289.0,294.0,290.0,...,129.0,120.0,113.0,109.0,106.0,100.0,95.0,89.0,87.0,85.0
2,58.0,59.0,63.0,71.0,81.0,102.0,131.0,140.0,147.0,153.0,...,168.0,164.0,169.0,178.0,184.0,190.0,195.0,198.0,203.0,196.0
3,304.0,292.0,281.0,268.0,259.0,255.0,248.0,241.0,231.0,220.0,...,270.0,277.0,274.0,269.0,267.0,267.0,274.0,284.0,283.0,278.0
4,40.0,40.0,40.0,40.0,60.0,71.0,83.0,87.0,100.0,112.0,...,67.0,71.0,75.0,74.0,72.0,70.0,67.0,74.0,77.0,81.0
5,212.0,210.0,204.0,200.0,199.0,201.0,201.0,194.0,188.0,183.0,...,210.0,213.0,212.0,216.0,213.0,210.0,210.0,209.0,210.0,209.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
720,209.0,219.0,221.0,221.0,216.0,217.0,215.0,211.0,201.0,200.0,...,180.0,184.0,180.0,190.0,196.0,203.0,206.0,212.0,215.0,208.0
721,106.0,107.0,100.0,104.0,123.0,132.0,129.0,127.0,120.0,132.0,...,169.0,176.0,173.0,166.0,162.0,189.0,201.0,200.0,194.0,177.0
722,250.0,245.0,250.0,259.0,262.0,260.0,279.0,289.0,288.0,287.0,...,178.0,160.0,139.0,123.0,111.0,100.0,98.0,89.0,80.0,69.0
723,89.0,80.0,69.0,60.0,51.0,52.0,41.0,41.0,46.0,46.0,...,113.0,105.0,98.0,87.0,80.0,84.0,86.0,92.0,93.0,109.5
724,150.0,149.0,150.0,151.0,154.0,153.0,158.0,158.0,160.0,159.0,...,186.0,193.0,194.0,185.0,184.0,178.0,180.0,174.0,162.0,150.0

In [614]:
# 2nd Feature - Max of CGM Velocity 
Velocity_Data = pd.DataFrame()
win_size = 6
total_vals = cgmdata_withMeal_without_index.shape[1]-win_size

for index in range(0, total_vals):
    dv = cgmdata_withMeal_without_index.iloc[:, index + win_size] - cgmdata_withMeal_without_index.iloc[:, index]
    Velocity_Data['vel'+str(index)] = dv

Feature_Matrix['Max CGM Vel']=Velocity_Data.max(axis = 1,skipna=True)
display(Feature_Matrix)

,FFT1,FFT2,FFT3,FFT4,FFT5,FFT6,FFT7,FFT8,Max CGM Vel
1,5922.0,1527.082553,1527.082553,412.905077,412.905077,378.751187,378.751187,363.301638,-1.0
2,4483.5,583.723220,583.723220,473.370789,473.370789,369.447679,369.447679,168.285819,84.0
3,7677.0,475.903609,475.903609,132.355707,132.355707,90.231491,90.231491,43.134985,49.0
4,2445.0,436.384942,436.384942,322.178882,322.178882,112.491733,112.491733,51.884487,72.0
5,5919.0,291.275268,291.275268,122.914246,122.914246,51.526117,51.526117,32.078030,41.0
...,...,...,...,...,...,...,...,...,...
720,6081.0,207.934591,207.934591,111.347548,111.347548,109.448473,109.448473,40.951190,35.0
721,4642.0,470.640332,470.640332,259.940832,259.940832,215.545678,215.545678,196.348648,58.0
722,6059.0,1345.632057,1345.632057,394.763112,394.763112,322.894884,322.894884,217.621231,44.0
723,2440.5,474.360806,474.360806,264.537814,264.537814,125.291968,125.291968,31.925695,76.0
724,5015.0,240.345182,240.345182,126.233819,126.233819,31.506578,31.506578,31.270449,27.0

In [615]:
# 3rd Feature - polyfit   
def calculate_polyfit(series,degree=3):
    row_arr = np.array(series.index.astype(float))
    return np.polyfit(row_arr, series, degree)

Polyfit_vals = cgmdata_withMeal_without_index.apply(calculate_polyfit,axis=1,result_type='expand')
display(Polyfit_vals)
Feature_Matrix = pd.concat([Feature_Matrix,Polyfit_vals],axis=1)
display(Feature_Matrix)
display(len(Feature_Matrix. columns))

            0         1          2           3
1    0.027834 -1.223080   4.919246  299.292473
2    0.016905 -0.934161  18.594208   39.599316
3   -0.022340  1.265225 -19.070194  312.525000
4    0.027030 -1.444699  21.516807   10.993280
5   -0.012032  0.674025  -9.797863  223.052077
..        ...       ...        ...         ...
720  0.009710 -0.321584   1.234174  215.266471
721 -0.000209 -0.084374   5.727469   97.062757
722  0.025725 -1.483012  15.860235  232.640054
723 -0.028107  1.202146 -11.538428   83.127615
724 -0.011798  0.435187  -2.547668  154.425342

[686 rows x 4 columns]

,FFT1,FFT2,FFT3,FFT4,FFT5,FFT6,FFT7,FFT8,Max CGM Vel,0,1,2,3
1,5922.0,1527.082553,1527.082553,412.905077,412.905077,378.751187,378.751187,363.301638,-1.0,0.027834,-1.223080,4.919246,299.292473
2,4483.5,583.723220,583.723220,473.370789,473.370789,369.447679,369.447679,168.285819,84.0,0.016905,-0.934161,18.594208,39.599316
3,7677.0,475.903609,475.903609,132.355707,132.355707,90.231491,90.231491,43.134985,49.0,-0.022340,1.265225,-19.070194,312.525000
4,2445.0,436.384942,436.384942,322.178882,322.178882,112.491733,112.491733,51.884487,72.0,0.027030,-1.444699,21.516807,10.993280
5,5919.0,291.275268,291.275268,122.914246,122.914246,51.526117,51.526117,32.078030,41.0,-0.012032,0.674025,-9.797863,223.052077
...,...,...,...,...,...,...,...,...,...,...,...,...,...
720,6081.0,207.934591,207.934591,111.347548,111.347548,109.448473,109.448473,40.951190,35.0,0.009710,-0.321584,1.234174,215.266471
721,4642.0,470.640332,470.640332,259.940832,259.940832,215.545678,215.545678,196.348648,58.0,-0.000209,-0.084374,5.727469,97.062757
722,6059.0,1345.632057,1345.632057,394.763112,394.763112,322.894884,322.894884,217.621231,44.0,0.025725,-1.483012,15.860235,232.640054
723,2440.5,474.360806,474.360806,264.537814,264.537814,125.291968,125.291968,31.925695,76.0,-0.028107,1.202146,-11.538428,83.127615
724,5015.0,240.345182,240.345182,126.233819,126.233819,31.506578,31.506578,31.270449,27.0,-0.011798,0.435187,-2.547668,154.425342

13

In [616]:
display(cgmdata_withMeal_without_index.shape[1])

30

In [617]:
# Standardize feature matrix
Feature_Matrix_std = StandardScaler().fit_transform(Feature_Matrix)
display(Feature_Matrix_std)

array([[ 0.62038619,  2.52494861,  2.52494861, ..., -0.99140534,
         0.01117351,  2.08006181],
       [-0.4473384 , -0.15632057, -0.15632057, ..., -0.69587951,
         1.13645095, -1.63529129],
       [ 1.92303245, -0.46277156, -0.46277156, ...,  1.55380173,
        -1.96285564,  2.26937565],
       ...,
       [ 0.72207424,  2.00921976,  2.00921976, ..., -1.25728101,
         0.91147933,  1.12648538],
       [-1.96375225, -0.4671566 , -0.4671566 , ...,  1.48928052,
        -1.34308608, -1.01254481],
       [-0.05283328, -1.13228903, -1.13228903, ...,  0.70478292,
        -0.60325961,  0.00749066]])

In [618]:
# Normalize the data so that the data follows a Gaussian distribution
Feature_Matrix_norm = normalize(Feature_Matrix_std)
Feature_Matrix_norm = pd.DataFrame(Feature_Matrix_norm)
display(Feature_Matrix_norm)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.089601,0.364672,0.364672,0.166689,0.166689,0.348611,0.348611,0.491828,-0.210363,0.174548,-0.143186,0.001614,0.300418
1,-0.095333,-0.033314,-0.033314,0.338534,0.338534,0.492842,0.492842,0.158986,0.159590,0.144395,-0.148299,0.242190,-0.348498
2,0.424412,-0.102133,-0.102133,-0.190111,-0.190111,-0.159448,-0.159448,-0.212002,-0.035145,-0.271273,0.342923,-0.433201,0.500850
3,-0.501223,-0.147035,-0.147035,0.128433,0.128433,-0.122849,-0.122849,-0.215092,0.111859,0.299012,-0.311432,0.352046,-0.522734
4,0.179251,-0.286360,-0.286360,-0.269454,-0.269454,-0.331497,-0.331497,-0.322270,-0.106365,-0.211204,0.275210,-0.347930,0.286876
...,...,...,...,...,...,...,...,...,...,...,...,...,...
681,0.255643,-0.423902,-0.423902,-0.350478,-0.350478,-0.177805,-0.177805,-0.342876,-0.180889,0.113550,-0.023990,-0.101115,0.303947
682,-0.179059,-0.259461,-0.259461,0.029981,0.029981,0.347427,0.347427,0.613011,0.040336,-0.083590,0.094143,0.042189,-0.441646
683,0.146723,0.408267,0.408267,0.208033,0.208033,0.367092,0.367092,0.288293,-0.058718,0.224754,-0.255476,0.185210,0.228898
684,-0.536469,-0.127620,-0.127620,0.024103,0.024103,-0.093254,-0.093254,-0.304178,0.147873,-0.412331,0.406850,-0.366912,-0.276613
685,-0.015874,-0.340202,-0.340202,-0.272027,-0.272027,-0.408861,-0.408861,-0.337226,-0.219347,-0.215426,0.211756,-0.181253,0.002251

In [619]:
# Do PCA
pca=PCA(n_components=2)
display(pca)
X_principal = pca.fit_transform(Feature_Matrix_norm)
display(X_principal)
X_principal = pd.DataFrame(X_principal)
display(X_principal)
X_principal.columns = ['PCA1','PCA2']
display(X_principal)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

array([[ 0.98306568,  0.06117599],
       [ 0.79391379,  0.09550613],
       [-0.22932984, -0.40283972],
       ...,
       [ 1.03938669,  0.27331738],
       [-0.32277912, -0.6929987 ],
       [-0.80891526, -0.17514783]])

            0         1
0    0.983066  0.061176
1    0.793914  0.095506
2   -0.229330 -0.402840
3   -0.097628  0.473078
4   -0.643688 -0.274489
..        ...       ...
681 -0.615600  0.195110
682  0.366268 -0.256937
683  1.039387  0.273317
684 -0.322779 -0.692999
685 -0.808915 -0.175148

[686 rows x 2 columns]

         PCA1      PCA2
0    0.983066  0.061176
1    0.793914  0.095506
2   -0.229330 -0.402840
3   -0.097628  0.473078
4   -0.643688 -0.274489
..        ...       ...
681 -0.615600  0.195110
682  0.366268 -0.256937
683  1.039387  0.273317
684 -0.322779 -0.692999
685 -0.808915 -0.175148

[686 rows x 2 columns]

In [623]:
print("----------------- K-means---------------")
      
clusterNum = 7
k_means = KMeans(init = "k-means++", n_clusters = clusterNum, n_init = 12)
display(k_means)
k_means.fit(X_principal)
display(k_means)
kmeans_labels = k_means.labels_
print("K-means labels", kmeans_labels)
display(len(kmeans_labels))

----------------- K-means---------------

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=7, n_init=12, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=7, n_init=12, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

K-means labels [3 1 6 5 0 6 3 3 0 3 5 4 4 6 1 1 2 2 4 6 2 5 0 4 6 2 6 6 2 4 1 3 5 6 1 2 3
 3 2 6 2 2 1 2 5 4 4 3 6 0 1 6 6 6 0 2 6 4 3 1 6 1 0 4 4 2 1 6 0 6 2 0 0 0
 6 4 4 6 4 1 2 6 6 6 2 6 1 2 2 3 3 3 1 3 0 0 1 1 5 6 6 5 6 0 4 1 2 2 3 3 2
 1 3 6 3 3 0 5 0 3 6 1 0 6 6 4 3 2 3 1 4 2 4 6 3 5 1 6 3 1 5 3 4 0 2 6 0 5
 6 0 5 5 2 2 2 4 1 6 5 2 6 6 5 4 0 4 6 5 1 3 3 4 6 4 5 3 3 5 0 2 0 3 5 6 4
 2 1 5 0 0 1 4 6 6 6 0 5 5 0 6 5 6 3 1 3 3 0 2 6 1 1 5 6 5 3 1 1 3 0 0 4 3
 2 1 5 1 6 1 5 1 6 3 0 1 4 0 3 5 5 1 4 6 6 2 2 4 6 6 3 2 5 2 1 3 2 1 2 0 2
 4 0 3 0 1 4 2 0 0 5 6 4 3 3 1 1 2 6 4 6 6 5 0 0 5 3 1 1 1 5 5 4 0 6 1 4 5
 4 5 1 1 5 6 0 6 2 5 2 6 5 4 1 1 0 2 0 0 6 0 6 4 3 3 1 0 3 6 0 3 6 4 0 3 5
 0 1 0 0 6 6 3 6 0 3 1 6 4 0 4 4 4 0 5 5 2 0 5 1 2 6 5 1 0 5 5 5 2 1 0 4 2
 6 0 6 0 4 5 6 2 2 6 6 2 3 3 5 4 0 6 4 2 5 3 3 3 0 6 6 0 0 2 2 0 0 6 2 5 2
 6 3 3 4 0 0 4 0 6 0 5 6 5 6 0 2 0 5 0 4 3 6 6 4 0 6 6 2 6 0 0 0 0 0 0 3 6
 6 3 6 6 4 5 0 0 2 3 0 3 6 2 4 1 3 0 4 4 1 5 0 3 2 3 4 3 5 4 5 6 3 0 2 2 3
 2 6 6 1 4 1 6 2 3 5 0 6 0 3 4 0 0 3 6 0 6 6 1 5 3 1 6 0 0 0 2 4 2 6 4 3 5
 3 4 5 2 0 5 6 0 3 2 6 6 0 0 0 1 5 3 0 5 0 3 2 0 6 5 6 3 3 3 3 3 0 1 4 0 4
 4 0 5 5 5 0 5 1 0 4 1 0 3 3 1 5 4 4 5 4 3 2 1 4 4 6 5 4 2 1 6 5 6 1 3 2 2
 4 3 5 0 0 6 5 2 6 2 4 1 5 6 2 2 5 2 4 3 4 4 1 3 3 5 4 2 1 1 0 6 1 4 4 4 2
 5 4 5 2 4 2 6 0 2 0 5 3 2 0 4 1 0 5 0 4 0 4 4 6 6 6 6 6 4 0 4 5 4 4 5 1 5
 6 6 3 2 3 6 1 1 3 3 0 2 2 4 3 0 2 1 6 0]

686

In [621]:
sse = k_means.inertia_
print("-----------------------------------------")
print("SSE of K_means clustering is : ", sse)
print("-----------------------------------------")

-----------------------------------------
SSE of K_means clustering is :  55.10175069616368
-----------------------------------------